*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: rgb(233, 131, 131);
}
.intro{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.intro-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.intro-1 h2{
    font-size: 54px;
}
.intro-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px ;
}
.intro-1 h4{
    size: 20px;
    margin: 20px 0;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    border-radius: 6px;
    background: linear-gradient(to right, #fb5283, #ff2527);
    cursor: pointer;
    transition: width 1s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
}
.intro-1::after{
    content:'';
    width: 2%;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}
.intro-2{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}
.intro-2 .deliver{
    width: 90%;
}
.featured-brands{
    text-align: center;
    margin: 10px 0 10px;
}
.brand-1 img, .brand-2 img, .brand-3 img, .brand-4 img, .brand-5 img, .brand-6 img{
    width: 80%;
}
.social-links
{
    text-align: center;
}
.social-links img{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}
.contactus img{
    height: 130px;
    margin-right: 40px;
    bottom: 0;
    right: 0;
    position : fixed;
    cursor: pointer;
}
/* BANNER AUTOMATIC SLIDER  */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {   
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


  /* RESPONSIVE */
@media only screen and (max-width:768px)
{
    nav ul
    {
        width: 170px;
        background: linear-gradient(#ff54a2, #ff575a);
        position:absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        columns: #fff;
    }
    .menu-icon{
        display: block;
    }
    #itemList{
        overflow: hidden;
        transition: 0.7s;
    }
    .intro{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .intro-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .intro-2 .deliver{
        width: 90%;
    }
    .intro-1{
        flex-basis: 100%;
    }
    .intro-1 h2{
        font-size: 35px;
    }
    .intro-1 h3{
        font-size: 22px;
    }
    .logo{
        width: 70px;
    }
    .contactus img{
        height: 60px;
        margin-right: 10px;
    }
}